<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style></style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <!-- <h1>The XMLHttpRequest Object</h1>/h1> -->
    <script>
        var xhttp = new XMLHttpRequest();
        var piserver = 'ws://raspberrypi:3030';
        var localserver = 'ws://localhost:3030'

        ws = new WebSocket(piserver);
        ws.onerror = () => {
            console.log('Failed. Trying localserver.');
            setStatusColor("red");
            ws = new WebSocket(localserver);
            ws.onopen = () => {
                console.log('Connected to: ' + localserver);
                setStatusColor("green");
            };
        };

        ws.onopen = () => {
            console.log('Connected to: ' + piserver);
            setStatusColor("green");
        };

        window.addEventListener('keydown', function (event) {
            switch (event.code) {
                case "KeyA":
                case "ArrowLeft":
                    moveLeft();
                    break;
                case "KeyD":
                case "ArrowRight":
                    moveRight();
                    break;
                case "KeyW":
                case "ArrowUp":
                    moveForward();
                    break;
                case "KeyS":
                case "ArrowDown":
                    moveReverse();
                    break;
            }
        });

        window.addEventListener('keyup', function (event) {
            switch (event.code) {
                case "KeyA":
                case "ArrowLeft":
                case "KeyD":
                case "ArrowRight":
                case "KeyW":
                case "ArrowUp":
                case "KeyS":
                case "ArrowDown":
                    stopMotor();
                    break;
            }
        });

        function setStatusColor(color) {
            document.getElementsByClassName('connectionStatus')[0].style.backgroundColor = color;
        }

        function sequence() {
            var speed;
            ws.send('sequence');
        }

        function setSpeed() {
            var speed;
            var radios = document.getElementsByName("speed");
            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    speed = radios[i].value;
                }
            };
            ws.send('speed ' + speed);
        }

        function moveForward() {
            ws.send('forward');
        }

        function moveLeft() {
            ws.send('left');
        }

        function moveRight() {
            ws.send('right');
        }

        function moveReverse() {
            ws.send('reverse');
        }

        function stopMotor() {
            ws.send('stop');
        }
    </script>

    <table class="tableContainer">
        <tr>
            <td>
                <div><button class="button" type="button" onclick="sequence()">Sequence</button></div>
            </td>
            <!-- <td>
                <div><button type="button" onclick="setSpeed()">Set Speed</button></div>
            </td>
            <td>
                <div><button type="button" onclick="setSpeed()">Set Trim</button></div>
            </td> -->
        </tr>
    </table>


    <div class="sliderContainer" >
        <span>Speed</span>
        <input type="range" min="0" max="50" value="0" class="speedSlider">
        <span id="speedValue"></span>
    </div>

    <div class="sliderContainer" >
        <span>Trim</span>
        <input type="range" min="-30" max="30" value="-22" class="speedSlider">
        <span id="trimValue"></span>
    </div>

    <script>        
        // Set speed slider value
        var speedSlider = document.getElementsByClassName("speedSlider")[0];
        var speedOutput = document.getElementById("speedValue");
        speedOutput.innerHTML = speedSlider.value
        speedSlider.oninput = function() {
            speedOutput.innerHTML = this.value;
            ws.send('speed ' + this.value);
        }

        // Set trim slider value
        var trimSlider = document.getElementsByClassName("speedSlider")[1];
        var trimOutput = document.getElementById("trimValue");
        trimOutput.innerHTML = trimSlider.value
        trimSlider.oninput = function() {
            trimOutput.innerHTML = this.value;
            ws.send('trim ' + this.value);
        }
    </script>


    <table class="tableContainer">
        <tr>
            <td></td>
            <td>
                <input type="image" src="images/Arrow.png" onclick="moveForward()" name="forwardButton">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input type="image" src="images/Arrow.png" class="rotate270" onclick="moveLeft()" name="leftButton">
            </td>
            <td class="connectionStatus"></td>
            <td>
                <input type="image" src="images/Arrow.png" class="rotate90" onclick="moveRight()" name="rightButton">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="image" src="images/Arrow.png" class="rotate180" onclick="moveReverse()"
                    name="reverseButton">
            </td>
            <td></td>
        </tr>
    </table>
</body>

</html>