<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style></style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar">
        <a href="/">[home]</a>
        <a href="/drone">[drone]</a>
        <a href="/create2">[create2]</a>
    </div>

</body>

</html>