<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style></style>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>The XMLHttpRequest Object</h1>
    <button type="button" onclick="loadDoc()">Request data</button>
    <p id="demo"></p>
    <script>
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                // if (this.readyState == 4 && this.status == 200) {
                //     document.getElementById("demo").innerHTML = this.responseText;
                // }
            };
            xhttp.open("POST", "user", true);
            xhttp.send();
        }
    </script>
    <p>Speed:</p>
    <input type="radio" id="option1" name="speed" value="25">
    <label for="option1">25</label><br>
    <input type="radio" id="option2" name="speed" value="37">
    <label for="option2">37</label><br>
    <input type="radio" id="option3" name="speed" value="50">
    <label for="option3">50</label><br>
    <table class="controllerTable">
        <tr>
            <td></td>
            <td>
                <input type="image" src="images/Arrow.png" onclick="loadDoc()" >
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="" alt="LEFT">
                    <input type="image" src="images/Arrow.png" class="rotate270" onclick="loadDoc()" >
                </a>
            </td>
            <td></td>
            <td>
                <a href="" alt="RIGHT">
                    <input type="image" src="images/Arrow.png" class="rotate90" onclick="loadDoc()" >
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="" alt="DOWN">
                    <input type="image" src="images/Arrow.png" class="rotate180" onclick="loadDoc()" >
                </a>
            </td>
            <td></td>
        </tr>
    </table>
    <br><br><br><br>
    <table style="margin:auto;">
        <tr>
            <td class="boxed">
                <div></div>
            </td>
            <td class="boxed">
                <div></div>
            </td>
            <td class="boxed">
                <div></div>
            </td>
        </tr>
    </table>
</body>
</html>