<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        td {
            border: 1px solid black;
        }

        .rotate90 {
            transform: rotate(90deg);
        }

        .rotate180 {
            transform: rotate(180deg);
        }

        .rotate270 {
            transform: rotate(270deg);
        }

        .controllerTable {
            max-width: 300px;
            width: 50%;
            margin: auto;
        }

        .boxed {
            width: 100px;
            height: 100px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>The XMLHttpRequest Object</h1>
    <button type="button" onclick="loadDoc()">Request data</button>
    <p id="demo"></p>
    <script>
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                // if (this.readyState == 4 && this.status == 200) {
                //     document.getElementById("demo").innerHTML = this.responseText;
                // }
            };
            xhttp.open("POST", "demo_post.asp", true);
            xhttp.send();
        }
    </script>
    <p>Speed:</p>
    <input type="radio" id="option1" name="speed" value="25">
    <label for="option1">25</label><br>
    <input type="radio" id="option2" name="speed" value="37">
    <label for="option2">37</label><br>
    <input type="radio" id="option3" name="speed" value="50">
    <label for="option3">50</label><br>
    <table class="controllerTable">
        <tr>
            <td></td>
            <td>
                <a href="" alt="UP">
                    <img src="images/Arrow.png">
                    <!-- <div class="boxed"></div> -->
                </a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="" alt="LEFT">
                    <img class="rotate270" src="images/Arrow.png">
                    <!-- <div class="boxed"></div> -->
                </a>
            </td>
            <td></td>
            <td>
                <a href="" alt="RIGHT">
                    <img class="rotate90" src="images/Arrow.png">
                    <!-- <div class="boxed"></div> -->
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="" alt="DOWN">
                    <img class="rotate180" src="images/Arrow.png">
                    <!-- <div class="boxed"></div> -->
                </a>
            </td>
            <td></td>
        </tr>
    </table>
    <br><br><br><br>
    <table style="margin:auto;">
        <tr>
            <td class="boxed">
                <div></div>
            </td>
            <td class="boxed">
                <div></div>
            </td>
            <td class="boxed">
                <div></div>
            </td>
        </tr>
    </table>
</body>
</html>